<template>
  <div class="login">
    <el-card class="login-card">
      <div slot="header">
        <h3>欢迎登陆</h3>
      </div>
      <el-form
        size="small"
        class="demo-ruleForm"
        :model="loginFormObj"
      >
        <el-form-item prop="username">
          <el-input v-model="loginFormObj.username">
            <template slot="prepend">
              <i class="el-icon-user-solid"></i>
            </template>
          </el-input>
        </el-form-item>
        
        <el-form-item prop="password">
          <el-input type="password" v-model="loginFormObj.password">
            <template slot="prepend">
              <i class="el-icon-lock"></i>
            </template>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" style="width:100%"
          @click="handleLogin"
            >提交</el-button
          >
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>


<script>
export default {
  data() {
    return {
      loginFormObj: {
        username: '',
        password: ''
      }
    };
  },
  methods: {
    handleLogin(){
      
      fetch('http://localhost:8889/api/private/v1/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(this.loginFormObj)
      }).then(res=>res.json())
      .then(res => {
        if(res.meta.status === 200) {
          this.$message({
            type: 'success',
            message: res.meta.msg
          })
        }else {
          this.$message({
            type: 'warning',
            message: res.meta.msg
          })
        }


      })
    }  
  }
};
</script>
<style lang='scss' scoped>
.login {
  height: 100vh;
  width: 100vw;
  background-image: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .login-card {
    width: 300px;
    margin-right: 200px;
  }


}
</style>