<template>
  <div class="bg">
    <div class="login">
      <el-card>
        <div slot="header">
          <h3>欢迎登录</h3>
        </div>
        <el-form
          :model="loginFormObj"
           size="small"
        class="demo-ruleForm"
        >
          <el-form-item prop="username">
            <el-input v-model="loginFormObj.username">
              <template slot="prepend">
                <i class="el-icon-user"></i>
              </template>
            </el-input>
          </el-form-item>

          <el-form-item prop="password">
            <el-input type="password" v-model="loginFormObj.password">
              <template slot="prepend">
                <i class="el-icon-lock"></i>
              </template>
            </el-input>
          </el-form-item>

          <el-form-item>
            <el-button type="primary" style="width: 100%" @click="handLogin"
              >提交</el-button
            >
          </el-form-item>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

 <script>
export default {
  data() {
    return {
      loginFormObj: {
        username: "",
        password: "",
      },
    };
  },
  methods: {
    handLogin() {
      fetch("http://localhost:8889/api/private/v1/login", {
        method: "post",
        body: JSON.stringify(this.loginFormObj),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then(res => res.json())
        .then(res => {
          if (res.meta.status === 200) {
              
            this.$message({
              type: "success",
              message: res.meta.msg,
            });
          } else {
            this.$message({
              type: "warning",
              message: res.meta.msg,
            });
          }
        });
    },
  },
};
</script>
<style scoped lang="scss">
.bg {
  background: url(https:file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    center center no-repeat;
  background-size: cover;
  height: 100vh;
  widows: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.login {
  width: 300px;
  margin-right: 200px;
}
</style>
